<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1> Amazo Draw</h1>
		<p style="color:white; font-size: 20px;"> Es Una Pagina Asombrosa Donde Puedes Encontratodo Diferentes Tipo De Dibujos Ya Sean De Artistas O Personalizados</p>
	</div>
	<div class="menu">
		<span><a href="menu1.html">Menu 1</a></span>
		<span><a href="menu2.html">Menu 2</a></span>
		<span><a href="menu3.html">Menu 3</a></span>
		<span><a href="menu4.html">Menu 4</a></span>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2 style="color:#6200EA; font-size: 30px;">Beautifull Animals </h2>
				<h5 style="color:#2962FF; font-size: 20px;"> Animals Draws That You May Love  28/02/19</h5>
				<img src="hummingbird2.jpg" alt="" class="imagen"> <img src="gato3.jpg" alt="" class="imagen"> <img src="lobo2.jpg" alt="" class="imagen"> <img src="obama.jpg" alt="" class="imagen"> <hr>
				
			</div>
		</div>
		<div class="derecha">
			<div class="item">
				<h2 style="color:#6200EA; font-size: 30px;">Informacion</h2>
				<img src="gato1.jpg" alt="" width="100px">
				<h3 style="color:purple; font-size: 20px;"> There you have a video to draw a cat </h3>
				<video  width="320" height="240" controls>
					<source src="gato.mp4" type="video/mp4">
					<source src="gato.ogg" type="video/ogg">
				</video>

			</div>
			
		</div>
	</div>
	<div class="footer">
	<h2> &copy; 2019</h2>
</div>

</body>
</html>